<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles/index_common.css">
    <link rel="stylesheet" type="text/css" href="static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/index_filters.css">
    <link rel="icon" href="static/img/small_logo.png" />
    <title>Sigma</title>
  </head>
  <body>
    <header>
      <div class="logo">
	<img src="static/img/small_logo_header.png">
	<img src="static/img/just_sigma2.png">
      </div>
      <div class="subscribe">
	<a href="http://tadeograchstudio.tech/subscribe">Subscribe</a>
      </div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="box1">
	  <h3>Cryptocurrency</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      <li>
		<h2>Coins</h2>
		<ul>
		  <li><a href="http://tadeograchstudio.tech/bitcoin" style="color:white; text-decoration:none">Bitcoin</a></li>
		  <li><a href="http://tadeograchstudio.tech/dogecoin" style="color:white; text-decoration:none">Dogecoin</a></li>
		  <li><a href="http://tadeograchstudio.tech/ethereum" style="color:white; text-decoration:none">Ethereum</a></li>
		</ul>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="box2">
	  <h3>Blockchain</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      <li>
		<h2>Information</h2>
		<ul>
		  <li><a href="https://www.investopedia.com/terms/b/blockchain.asp#:~:text=Blockchain%20does%20not%20store%20any,blockchain%20to%20reflect%20the%20change." style="color:white; text-decoration:none">What is a blockchain?</a></li>
		  <li><a href="https://www.thebalancesmb.com/blockchain-explained-4773366" style="color:white; text-decoration:none">How it works?</a></li>
		</ul>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="box3">
	  <a href="http://tadeograchstudio.tech/landing-page" style="color:white; text-decoration:none"><h3>About us</h3></a>
	</div>
      </section>
    </div>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
