<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/landing_page_common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/landing_page_filters.css">
    <link rel="icon" href="../static/img/small_logo.png" />
    <title>Sigma</title>
  </head>
  <body>
    <header>
      <div class="logo">
      <a href="http://tadeograchstudio.tech/"><img src="../static/img/small_logo_header.png"></a>
      <a href="http://tadeograchstudio.tech/"><img src="../static/img/just_sigma2.png"></a>
      </div>
    </header>
    <div class="landing">
      <h1>Our mission is to organize</h1>
      <h1>and simplify cryptocurrency information</h1>
      <h1>in order to make it accessibe to everyone</h1>
      <img src="../static/img/landing_img_1.jpg" >
      <ul>
	<li>Real-time values with data analysis</li>
	<li>Daily summaries of your favorite cryptos</li>
	<li>Alerts on significant or constant movements</li>
      </ul>
      <img src="../static/img/sigma_cell_landing.png">
    </div>
    <div>
      <iframe class="video-landing" width="1050" height="590" src="https://www.youtube.com/embed/UX2cXHVodoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h1 class="team">Team</h1>
    <div class="all">
      <div class="teammate">
        <img src="../static/img/facundo.jpg">
        <h2>Facundo Díaz</h2>
        <a href="https://github.com/facu2279"><img src="../static/img/github_logo.png"></a>
        <a href="mailto:ddiiaazzfacu@gmail.com"><img src="../static/img/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/facundo-diaz-noya/"><img src="../static/img/linkedin_logo.png"></a>
      </div>
      <div class="teammate">
        <img src="../static/img/tadeo.jpg">
        <h2>Tadeo Grach</h2>
        <a href="https://github.com/tadeograch"><img src="../static/img/github_logo.png"></a>
        <a href="mailto:tade.g.17@gmail.com"><img src="../static/img/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/tadeo-grach-toledo/"><img src="../static/img/linkedin_logo.png"></a>
      </div>
      <div class="teammate">
        <img src="../static/img/tomas.jpg">
        <h2>Tomas de Castro</h2>
        <a href="https://github.com/tomi1710"><img src="../static/img/github_logo.png"></a>
        <a href="mailto:tdecastroguelfi56@gmail.com"><img src="../static/img/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/tomas-de-castro-guelfi-1872a1211/"><img src="../static/img/linkedin_logo.png"></a>
      </div>
   </div>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
