<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/subscribe_common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/subscribe_filters.css">
    <link rel="icon" href="../static/img/small_logo.png" />
    <title>Sigma</title>
  </head>
  <body>
    <header>
      <div class="logo">
	<a href="http://tadeograchstudio.tech/"><img src="../static/img/small_logo_header.png"></a>
	<a href="http://tadeograchstudio.tech/"><img src="../static/img/just_sigma2.png"></a>
      </div>
    </header>
    <div class="block">
      <h1>Stay tuned for daily summaries of your favorite cryptocurrencies and alerts on significant or constant movements</h1>
      <form action="/subscribe" method="POST">
	<input autocomplete="off" autofocus="" name="name" placeholder="Name" type="text" required>
	<input autocomplete="off" autofocus="" name="email" placeholder="Email" type="text" required>
	<input type="submit">
      </form>
    </div>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
