body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url("../img/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

body .container {
    max-width: 1000px;
    margin: 30px auto;
}
